<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head'); %>
        <title>All Transactions</title>
</head>

<body>
    <div class="container-md">
        <% let portfolioBalance = 0 %>

            <% for (let i = 0; i < transactions.length; i++) { %>
                <% portfolioBalance += Number(transactions[i].value) %>
                    <% } %>

                        <h1 class="balance">Portfolio Balance:
                            <%=portfolioBalance%>
                        </h1>


                        <div class="mt-5 row">

                            <table class="text-center w-100">
                                <% for (let i = 0; i < transactions.length; i++){%>

                                    <tr class="border">
                                        <td>

                                            <%=transactions[i].coin; %>

                                        </td>
                                        <td>
                                            <%=transactions[i].amount; %>
                                        </td>
                                        <td>
                                            <%=transactions[i].date; %>
                                        </td>
                                        <td>
                                            <%=transactions[i].value; %>
                                        </td>
                                        <td>
                                            <%=transactions[i].transactionType; %>
                                        </td>
                                        <td>
                                            <a class="w-100 btn btn-dark" href="<%=transactions[i].id; %>">View</a>
                                        </td>
                                        <td>
                                            <a class="w-100 btn btn-dark" href="/<%=transactions[i].id%>/edit">Edit</a>
                                        </td>
                                        <td>
                                            <form action="/<%=transactions[i].id; %>?_method=DELETE" method="POST">
                                                <input class=" w-100 btn btn-dark" type="submit" value="DELETE">
                                            </form>

                                        </td>
                                    </tr>


                                    <% } %>
                            </table>

                        </div>
    </div>

</body>


</html>