<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <title>Coin</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center">
            <%=coin[0].coin%>
        </h1>
        <div class="text-center">
            <img src="https://cryptoicon-api.vercel.app/api/icon/<%=coin[0].coin.toLowerCase();%>" alt="<%=coin[0].coin%> Logo">
            <p id='info'></p>
            <p id='infotime'></p>
        </div>
        <!-- All credit to Luciano Sphere @ https://towardsdatascience.com/obtaining-historical-and-real-time-crypto-data-with-very-simple-web-programming-7b481f153630 -->


        <h3>Your
            <%=coin[0].coin%> transactions - </h3>

        <table class="w-100">
            <% for (let i = 0; i <coin.length; i++){%>

                <tr class="border p-3">
                    <td>
                        <a href="/<%=coin[i].id; %>">
                            <%=coin[i].coin; %>
                        </a>
                    </td>
                    <td>
                        <%=coin[i].amount; %>
                    </td>
                    <td>
                        <%=coin[i].date; %>
                    </td>
                    <td>
                        <%=coin[i].value; %>
                    </td>
                    <td>
                        <%=coin[i].transactionType; %>
                    </td>
                    <td>
                        <a class="btn btn-dark" href="/<%=coin[i].id%>/edit">Edit</a>
                    </td>
                    <td>
                        <form action="/<%=coin[i].id; %>?_method=DELETE" method="POST">
                            <input class="btn btn-dark" type="submit" value="DELETE">
                        </form>

                    </td>
                </tr>


                <% } %>
        </table>
    </div>

</body>

<!-- All credit to Luciano Sphere @ https://towardsdatascience.com/obtaining-historical-and-real-time-crypto-data-with-very-simple-web-programming-7b481f153630 -->
<script>
    const getData = async () => {
        fetch('https://min-api.cryptocompare.com/data/price?fsym=<%=coin[0].coin%>&tsyms=USD')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById("info").innerHTML = '<b>1 <%=coin[0].coin%> = ' + data.USD + ' USD</b>'
            });
    }
    getData();
</script>

</html>