<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <title>Coin</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center">
            <%=coin[0].coin%>
        </h1>
        <div class="text-center">
            <img src="https://cryptoicon-api.vercel.app/api/icon/<%=coin[0].coin.toLowerCase();%>" alt="<%=coin[0].coin%> Logo">
            <p id='info'></p>
            <p id='infotime'></p>
        </div>
        <!-- All credit to Luciano Sphere @ https://towardsdatascience.com/obtaining-historical-and-real-time-crypto-data-with-very-simple-web-programming-7b481f153630 -->
        <div class="text-center">
            <a class="btn mt-3 btn-dark" href="/">Return to Dashboard</a>
            <a class="btn mt-3 btn-dark" href="/new">Add a new transaction!</a>
        </div>
        <div class="mt-5 row">
            <h2 class="pb-3 text-center">
                Your
                <%=coin[0].coin%> transactions </h2>
            <table class="table table-striped text-center w-100">
                <thead>
                    <tr>
                        <th scope="col">Coin</th>
                        <th scope="col">Amount</th>
                        <th class="date" scope="col">Date</th>
                        <th scope="col">Value</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <% for (let i = 0; i < coin.length; i++){%>

                    <tr class="border">
                        <td>

                            <%=coin[i].coin; %>

                        </td>
                        <td>
                            <%=coin[i].amount; %>
                        </td>
                        <td class="date">
                            <%=coin[i].date; %>
                        </td>
                        <td>
                            $
                            <%=coin[i].value; %>
                        </td>
                        <td>
                            <%=coin[i].transactionType; %>
                        </td>
                        <td>
                            <a class="w-100 btn btn-dark" href="/<%=coin[i].id; %>">View</a>
                        </td>
                        <td class="phone">
                            <a class="w-100 btn btn-dark" href="/<%=coin[i].id%>/edit">Edit</a>
                        </td>
                        <td class="phone">
                            <form action="/<%=coin[i].id; %>?_method=DELETE" method="POST">
                                <input class=" w-100 btn btn-dark" type="submit" value="DELETE">
                            </form>

                        </td>
                    </tr>


                    <% } %>
            </table>

        </div>

</body>

<!-- All credit to Luciano Sphere @ https://towardsdatascience.com/obtaining-historical-and-real-time-crypto-data-with-very-simple-web-programming-7b481f153630 -->
<script>
    const getData = async () => {
        fetch('https://min-api.cryptocompare.com/data/price?fsym=<%=coin[0].coin%>&tsyms=USD')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById("info").innerHTML = '<b>1 <%=coin[0].coin%> = ' + data.USD + ' USD</b>'
            });
    }
    getData();
</script>

</html>