<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head'); %>
        <title>Transaction</title>
</head>

<body>
    <h1>
        <%=coin.transactionType%>
    </h1>

    <% if(coin.transactionType === 'BUY'){ %>
        You bought
        <%=coin.amount%>
            <%=coin.coin %> on
                <%=coin.date %>. The total cost was
                    <%=coin.value %>
                        <% } else { %>
                            You sold
                            <%=coin.amount%>
                                <%=coin.coin %> on
                                    <%=coin.date %>. The total received was
                                        <%=coin.value %>
                                            <% } %>

                                                <nav>
                                                    <a href="/">Back to Homepage</a>
                                                </nav>
</body>

</html>