<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>Transactions show page</h1>

    <% if(coin.transactionType === "BUY"){ %>
        You bought
        <%=coin.amount;%>
            <%=coin.coin; %> on
                <%=coin.date; %>. The total cost was
                    <%=coin.value; %>
                        <% } else { %>
                            You sold
                            <%=coin.coin; %> on
                                <%=coin.date; %>. The total received was
                                    <%=coin.value; %>
                                        <% } %>

                                            <nav>
                                                <a href="/">Back to Homepage</a>
                                            </nav>
</body>

</html>